services:
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    ports:
      - "9000:9000"    
      - "9001:9001"    
    volumes:
      - minio_data:/data   
    environment:
      MINIO_ROOT_USER: minioadmin          
      MINIO_ROOT_PASSWORD: miniopassword  
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s

  app:
    build:
      context: .
    ports:
      - "8501:8501"  
      - "8080:8080"   
    environment:
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=miniopassword
    depends_on:
      minio:
          condition: service_healthy

volumes:
  minio_data:
    driver: local